html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif ; 
    font-size: 1.6rem;
    line-height: 2;
}

/** GLOBALES **/
img {
    max-width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/** UTILIDADES **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}

/** GRID **/
@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .centrar-columnas {
        justify-content: center;
    }
    .columnas-4 {
        flex: 0 0 calc(33.3% - 1rem);
    }
    .columnas-6 {
        flex: 0 0 calc(50% - 1rem);
    }
    .columnas-8 {
        flex: 0 0 calc(66.6% - 1rem);
    }
    .columnas-10 {
        flex: 0 0 calc(83.3% - 1rem);
    }
    .columnas-12 {
        flex: 0 0 calc(100% - 1rem);
    }
}

/** HEADER **/
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
   background-image: url(/img/familia-sala.jpg); 
   background-position: center center;
   background-size: cover;
   height: 100vh;
   min-height: 60rem;
   position: relative;
}

.site-header.inicio::after {
    content: '';
    background-color: rgba(255,255,255, .2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    z-index: 1;
}
@media (min-width: 768px) {
    .contenido-header {
        text-align: left;
    }
}

.barra {
    padding-top: 3rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

header #logo img {
    margin: 10px;
    /*float: left;*/
    width: 120px;
}

/** NAVEGACION**/
.navegacion a {
    color: #000000;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    font-weight: bold;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 2.2rem;
        margin-right: 2rem;
    }
}

.navegacion a:hover {
    color: #FF5F1F; 
}

.navegacion a:last-of-type {
    margin: 0;
}

/** TEXTO HEADER **/
.texto-header {
    color: #000000;
    text-align: center;
    margin-top: 2rem;   
}
@media (min-width: 768px) {
    .texto-header {
        margin-top: 5rem;
    }
}

.texto-header p {
    font-size: 2.2rem;
    font-weight: bold;
}

/** ICONOS SERVICIOS**/
.contenedor-servicios {
    margin-top: 1rem;
    margin-left: 30px;
    margin-right: 30px;
}
@media (min-width:768px) {
    .contenedor-servicios {
        display: flex;
        justify-content: space-between;
    }
    .servicios {
        flex: 0 0 calc( 33.3% - 3rem);
    }
}
.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconos {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background-color: #FF5F1F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}
.iconos {
    font-size: 3rem;
}

.servicios p {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

/** NOSOTROS **/
.nosotros {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #000000;
}

.nosotros:last-of-type {
    border-bottom: none;
}

.nosotros p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.nosotros p span, 
.nosotros p.descripcion {
    font-weight: 400;
}

.columnas-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/** Contacto-INFO **/
.numeros {
    text-decoration: none;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
}

.telefonos a:hover {
    color: #FF5F1F;
}

.columnas-4 a:hover {
    color: #FF5F1F;
}

li {
    list-style: none;
}

h3.title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/**Contacto-Formulario**/
.contacto p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend {
    font-size: 2rem;
    color: #4f4f4f;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
}

input [type="radio"] {
    width: auto;
    margin: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 20rem;
}

.form-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton {
    background-color: #FF5F1F;
    padding: 1rem 3rem;
    display: block;
    margin-top: 1rem;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: none;
    flex: 0 0 100%;
}

.boton:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.enviar {
    display: flex;
    justify-content: flex-end;
}

/** FOOTER **/
.site-footer {
    background-color: #000000;
    padding: 3rem;
    margin-top: 4rem;
}

.site-footer p {
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/** MENSAJE ENVIADO **/
.mensaje-exito {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}

.mensaje-exito h1 {
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.mensaje-exito a {
    display: block;
    padding: 10px 30px;
    background: #FF5F1F;
    text-decoration: none;
    color: #ffffff;
}

